<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.Dgpj_Rzzl_Contract_InfoMapper">
  <resultMap id="BaseResultMap" type="com.entity.Dgpj_Rzzl_Contract_Info">
    <id column="table_id" jdbcType="INTEGER" property="table_id" />
    <result column="apid" jdbcType="VARCHAR" property="apid" />
    <result column="intoTimeMonth" jdbcType="VARCHAR" property="intoTimeMonth" />
    <result column="packetTimeYear" jdbcType="VARCHAR" property="packetTimeYear" />
    <result column="intoTimeDay" jdbcType="VARCHAR" property="intoTimeDay" />
    <result column="taxInflows" jdbcType="VARCHAR" property="taxInflows" />
    <result column="intoTimeYear" jdbcType="VARCHAR" property="intoTimeYear" />
    <result column="intoPrincipal" jdbcType="VARCHAR" property="intoPrincipal" />
    <result column="intoInterest" jdbcType="VARCHAR" property="intoInterest" />
    <result column="packetTimeDay" jdbcType="VARCHAR" property="packetTimeDay" />
    <result column="debtorNumber" jdbcType="VARCHAR" property="debtorNumber" />
    <result column="contractNumber" jdbcType="VARCHAR" property="contractNumber" />
    <result column="intoServiceCharge" jdbcType="VARCHAR" property="intoServiceCharge" />
    <result column="packetTimeMonth" jdbcType="VARCHAR" property="packetTimeMonth" />
    <result column="totalInflow" jdbcType="VARCHAR" property="totalInflow" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, apid, intoTimeMonth, packetTimeYear, intoTimeDay, taxInflows, intoTimeYear, 
    intoPrincipal, intoInterest, packetTimeDay, debtorNumber, contractNumber, intoServiceCharge, 
    packetTimeMonth, totalInflow
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dgpj_rzzl_contract_info
    where table_id = #{table_id,jdbcType=INTEGER}
  </select>
</mapper>