<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.Dgpj_Rzzl_Finance_LeaseMapper">
  <resultMap id="BaseResultMap" type="com.entity.Dgpj_Rzzl_Finance_Lease">
    <id column="table_id" jdbcType="INTEGER" property="table_id" />
    <result column="apid" jdbcType="VARCHAR" property="apid" />
    <result column="leaseIsRight" jdbcType="VARCHAR" property="leaseIsRight" />
    <result column="businessContractNumber" jdbcType="VARCHAR" property="businessContractNumber" />
    <result column="isAreDefense" jdbcType="VARCHAR" property="isAreDefense" />
    <result column="assetsClassified" jdbcType="VARCHAR" property="assetsClassified" />
    <result column="outstandingPrincipalBalance" jdbcType="VARCHAR" property="outstandingPrincipalBalance" />
    <result column="overdueDays" jdbcType="VARCHAR" property="overdueDays" />
    <result column="firstReimbursement" jdbcType="VARCHAR" property="firstReimbursement" />
    <result column="irr" jdbcType="VARCHAR" property="irr" />
    <result column="leasePeriodMonth" jdbcType="VARCHAR" property="leasePeriodMonth" />
    <result column="leaseTreatment" jdbcType="VARCHAR" property="leaseTreatment" />
    <result column="serialNumber" jdbcType="VARCHAR" property="serialNumber" />
    <result column="feeIncome" jdbcType="VARCHAR" property="feeIncome" />
    <result column="settlementCurrency" jdbcType="VARCHAR" property="settlementCurrency" />
    <result column="deductionDeposit" jdbcType="VARCHAR" property="deductionDeposit" />
    <result column="isThirdPartyRights" jdbcType="VARCHAR" property="isThirdPartyRights" />
    <result column="isRegular" jdbcType="VARCHAR" property="isRegular" />
    <result column="rentPaymentFrequency" jdbcType="VARCHAR" property="rentPaymentFrequency" />
    <result column="riskReserve" jdbcType="VARCHAR" property="riskReserve" />
    <result column="leaseExpirationDate" jdbcType="VARCHAR" property="leaseExpirationDate" />
    <result column="isInvolvedBankruptcyProceedings" jdbcType="VARCHAR" property="isInvolvedBankruptcyProceedings" />
    <result column="totalAmountRent" jdbcType="VARCHAR" property="totalAmountRent" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="rentPaymentDate" jdbcType="VARCHAR" property="rentPaymentDate" />
    <result column="aging" jdbcType="VARCHAR" property="aging" />
    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="leaseStartDate" jdbcType="VARCHAR" property="leaseStartDate" />
    <result column="outstandingBalanceRent" jdbcType="VARCHAR" property="outstandingBalanceRent" />
    <result column="residualValue" jdbcType="VARCHAR" property="residualValue" />
    <result column="feePayment" jdbcType="VARCHAR" property="feePayment" />
    <result column="lesseeName" jdbcType="VARCHAR" property="lesseeName" />
    <result column="interestRate" jdbcType="VARCHAR" property="interestRate" />
    <result column="leaseForm" jdbcType="VARCHAR" property="leaseForm" />
    <result column="isFixedRate" jdbcType="VARCHAR" property="isFixedRate" />
    <result column="rentPayment" jdbcType="VARCHAR" property="rentPayment" />
    <result column="depositAmount" jdbcType="VARCHAR" property="depositAmount" />
    <result column="isDistinguishBetweenTax" jdbcType="VARCHAR" property="isDistinguishBetweenTax" />
    <result column="packetDay" jdbcType="VARCHAR" property="packetDay" />
    <result column="pledgeType" jdbcType="VARCHAR" property="pledgeType" />
    <result column="isInvolvingStateSecrets" jdbcType="VARCHAR" property="isInvolvingStateSecrets" />
    <result column="collateralValue" jdbcType="VARCHAR" property="collateralValue" />
    <result column="totalAmountPrincipal" jdbcType="VARCHAR" property="totalAmountPrincipal" />
    <result column="lesseeNumber" jdbcType="VARCHAR" property="lesseeNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, apid, leaseIsRight, businessContractNumber, isAreDefense, assetsClassified, 
    outstandingPrincipalBalance, overdueDays, firstReimbursement, irr, leasePeriodMonth, 
    leaseTreatment, serialNumber, feeIncome, settlementCurrency, deductionDeposit, isThirdPartyRights, 
    isRegular, rentPaymentFrequency, riskReserve, leaseExpirationDate, isInvolvedBankruptcyProceedings, 
    totalAmountRent, supplier, rentPaymentDate, aging, customerName, leaseStartDate, 
    outstandingBalanceRent, residualValue, feePayment, lesseeName, interestRate, leaseForm, 
    isFixedRate, rentPayment, depositAmount, isDistinguishBetweenTax, packetDay, pledgeType, 
    isInvolvingStateSecrets, collateralValue, totalAmountPrincipal, lesseeNumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dgpj_rzzl_finance_lease
    where table_id = #{table_id,jdbcType=INTEGER}
  </select>
</mapper>